@page "/add"
@using EndToEnd.Data
@inject RecipeDataService RecipeDataService
@inject NavigationManager UriHelper

<button class="btn btn-success"
        @onclick="SaveRecipe">
    Save
</button>
<button class="btn btn-primary"
        style="float:right;"
        @onclick="NavigateBack">
    Back
</button>

<p style="color:red">@Error</p>

<h2>New Recipe</h2>

<label>Title:</label>
<input class="form-control" type="text"
    placeholder="Title"
       @bind="objRecipe.Title" />
<label>Ready in (minutes):</label>
<input class="form-control" type="number"
       placeholder="minutes"
       @bind="objRecipe.ReadyInMinutes" />
<label>Servings:</label>
<input class="form-control" type="number"
       placeholder="Servings"
       @bind="objRecipe.Servings" />
<br />
<label>Summary:</label>
<TinyMCE.Blazor.Editor 
    ScriptSrc="/lib/tinymce/tinymce.min.js"
    Conf="@editorConf"
    @bind-Value=objRecipe.Summary />
<br />
<label>Ingredients:</label>
<TinyMCE.Blazor.Editor 
    ScriptSrc="/lib/tinymce/tinymce.min.js"
    Conf="@editorConf"
    @bind-Value=objRecipe.Ingredients />
<br />
<label>Instructions:</label>
<TinyMCE.Blazor.Editor 
    ScriptSrc="/lib/tinymce/tinymce.min.js"
    Conf="@editorConf" 
    @bind-Value=objRecipe.Instructions
/>
<br />



@code
{
    private Dictionary<string, object> editorConf = new Dictionary<string, object>{
       { "menubar", false },
       { "plugins", "link lists code autoresize" },
       { "toolbar", "undo redo | styleselect | bold italic numlist bullist" }
     };

    Recipe objRecipe = new EndToEnd.Data.Recipe();
    string Error = "";

    async Task SaveRecipe()
    {
        Error = "";

        try{
            //add date of creation
            objRecipe.Date = System.DateTime.Now;

            // Save the new recipe
            await RecipeDataService.CreateRecipeAsync(objRecipe);

            NavigateBack();
        }
        catch (Exception ex)
        {
            Error = ex.Message;
        }
        
    }


    void NavigateBack()
    {
        UriHelper.NavigateTo("/recipes");
    }

}