@page "/"

<h1>Welcome to OctoCook</h1>
<br />
<p>Manage your recipes and collect new ones, all in one place. Use the search function to find new recipes and save them directly to your collection.</p>
<p>If you want to backup your recipes or import a previous backup, please visit the settings.</p>

@code{

}