@page "/search"

<h3>Search Recipes</h3>

<div>
    <input class="form-control" type="text"
           placeholder="Title"
           @bind="searchString" />
    <select name="sources" id="sources">
        <option value="rakuten">Rakuten</option>
        <option value="food2fork">Food2Fork</option>
        <option value="bigoven">BigOven</option>
    </select>
</div>
<br />

<button class="btn btn-dark"
        @onclick="SearchRecipe">
    Search
</button>

@code {

    //Free APIs
    // https://rapidapi.com/rakuten_webservice/api/rakuten-recipe/
    // https://rapidapi.com/community/api/food2fork/
    // https://rapidapi.com/volodimir.kudriachenko/api/BigOven/
    string searchString = "";

    void SearchRecipe(){

    }
}
