@page "/search"
@using RestSharp

<h3>Search Recipes</h3>

<div>
    <input class="form-control" type="text"
           placeholder="Title"
           @bind="searchString" />
    <select name="sources" id="sources">
        <option value="spoonacular">Spoonacular</option>
    </select>
</div>
<br />

<button class="btn btn-dark"
        @onclick="SearchRecipe">
    Search
</button>

@code {

    //Free APIs
    //https://spoonacular.com/food-api/pricing  150 calls per day
    string searchString = "";

    void SearchRecipe(string keyword, string source){

    }

    
}
