@page "/settings"

<h3>Settings</h3>

<h4>Export Recipes</h4>
<button class="btn btn-dark"
        @onclick="ExportBackup">
    Export
</button>

<h4>Import Recipes</h4>
<button class="btn btn-dark"
        @onclick="ImportBackup">
    Import
</button>

@code {
    void ExportBackup(){}
    void ImportBackup(){}
}
